<div class="nav">
  <h1>Galvanize Reads</h1>
  <a href="/books">Books</a>
  <a href="/authors">Authors</a>
  <a href="/">Home</a>
</div>


<div class="authorSingle">
  <img src="{{auth_pic}}" alt="">
  <h1>{{first_name}} {{last_name}}</h1>
  <h2>{{bio}}</h2>
  <h3>{{genre}}</h3>
      <a href="/authors/{{id}}/{{first_name}}/edit"><button type="button" name="button">Edit Author</button></a>
      <a href="/books/{{id}}/{{first_name}}/delete"><button type="button" name="button">Delete Author</button></a>
</div>
