

<div class="addBook">
  <a href="/books/addBook"><button type="button" name="button">Add Book</button></a>
</div>

{{#each books}}
  <div class="profile row">
    <img id="bookImg" class="col s2 m2 l2" src="{{this.book_pic}}" alt="">
    <div class="col s6 m6 l6">
      <h5>{{this.title}}</h5>
      <h5>By:{{first_name}} {{last_name}}</h5>
      <h7>{{this.genre}}</h7>
      <h8>{{this.description}}</h8>
    </div>
    <div class="">
        <a id="profileButton" href="books/{{book_id}}/{{title}}"><button type="button" name="button">View Book</button></a>
    </div>
  </div>
{{/each}}
