

<div class="profile row">
    <img class="col s2 m2 l2" src="{{book_pic}}" alt="">
    <div class="col s6 m6 l6">
      <h5>{{title}}</h5>
      <h5><a href="/authors/{{author_id}}/{{first_name}}">By:{{first_name}} {{last_name}}</a></h5>
      <h7>{{genre}}</h7>
      <h8>{{description}}</h8>
    </div>
    <div class="col s2 m2 l2">
      <a href="/books/{{id}}/{{title}}/edit"><button type="button" name="button">Edit Book</button></a>
      <a href="/books/{{id}}/{{title}}/delete"><button type="button" name="button">Delete Book</button></a>
    </div>

</div>
