<div class="nav">
  <h1>Galvanize Reads</h1>
  <a href="/books">Books</a>
  <a href="/authors">Authors</a>
  <a href="/">Home</a>
</div>


<div class="bookSingle">
  <img src="{{book_pic}}" alt="">
  <h1>{{title}}</h1>
  <h2>By:{{author}}</h2>
  <h3>{{genre}}</h3>
  <h4>{{description}}</h4>
  <a href="/books/{{id}}/{{title}}/edit"><button type="button" name="button">Edit Book</button></a>
    <a href="/books/{{id}}/{{title}}/delete"><button type="button" name="button">Delete Book</button></a>
</div>
